@charset "utf-8";
/* CSS Document */


#logintable
{
   width:500px;
   padding:10px;
   margin:0 auto;
   font-weight:bold;
}

#logintable td
{
  padding:15px;
}


input[type="text"], select, input[type="password"]
{
width:240px; 
border:solid 1.5px #000000; 
height:23px; 
font-family:Comic Sans MS; 
font-size:14px;  
font-weight:bold;
padding:5px;
letter-spacing:2px;
color:#931212;
}

input[type="text"]:hover, input[type="password"]:hover,input[type="text"]:focus, input[type="password"]:focus
{
background-color: #931212;
color:#FFFFFF;
}

select
{
width:250px; 
border:solid 1.5px #000000; 
height:35px; 
font-family:Comic Sans MS; 
font-size:14px;  
font-weight:bold;
padding:5px;
letter-spacing:2px;
color:#931212;
}

select:hover, select:focus
{
background-color: #931212;
color:#FFFFFF;
}

textarea
{
width:240px; 
border:solid 1.5px #000000;
height:20px; 
font-family:Comic Sans MS; 
font-size:14px;  
font-weight:bold;
padding:5px;
letter-spacing:2px;
}
textarea:hover,textarea:focus
{
background-color: #931212;
color:#FFFFFF;
}

input[type="submit"], button{ 
width:143px; 
border:none; 
height:50px;
background-image:url(../images/bg_but.jpg); 
font-family:Comic Sans MS; 
font-size:16px; 
text-align:center; 
font-weight:bold;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
border-radius:30px;
color:#FFFFFF;
letter-spacing:2px;
}


input[type="submit"]:hover, button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#fulltable
{
   width:97%;
   margin:10px;
}

#fulltable td
{
  padding:15px;
  border: solid 1px #931212;
}

#fulltable th
{
  padding:5px;
  border: solid 1px #931212;
  color:White;
  background-color:#931212;
}

#fulltable td a
{
 width:100px;
height:30px;
background:#931212;
border:medium double #931212;
font-family:"Courier New", Courier, monospace;
font-size:16px;
font-weight:bold;
color:#ffffff;
text-align:center;
cursor:pointer;
}

#minitable
{
   width:600px;
   padding:10px;
   margin:0 auto;
}

#minitable td
{
  padding:15px;
  border: solid 1px #931212;
}

#minitable th
{
  padding:5px;
  border: solid 1px #931212;
  color:White;
  background-color:#931212;
}
#minitable tr
{
  padding:5px;
}
#minitable td a
{
 width:100px;
height:30px;
background:#931212;
border:medium double #931212;
font-family:"Courier New", Courier, monospace;
font-size:16px;
font-weight:bold;
color:#FFFFFF;
text-align:center;
cursor:pointer;
}


.previewimg
{
width:100px;
height:100px;
}

.adminpreviewimg
{
width:250px;
height:200px;
}



#bigtable
{
   width:100%;
   padding:10px;
   margin:0 auto;
}

#bigtable td
{
  padding:15px;
}

#bigtable th
{
  padding:5px;
  border: solid 1px #931212;
  color:White;
  background-color:#931212;
}
#bigtable tr
{
  padding:5px;
}



#displaytable
{
   width:100%;
   padding:10px;
   margin:0 auto;
}

#displaytable td
{
  padding:15px;
  border: dashed 1px #931212;
}

#displaytable th
{
  padding:5px;
  border: solid 1px #931212;
  color:White;
  background-color:#931212;
}
#displaytable tr
{
  padding:5px;
}
