html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}
  
  p
  {
  text-align:justify;
  margin:0 0 10px 0;
  }
body
{
font-family:constantia;
font-size:15px;
  background: #F0EFE2;
  color:#000000;
  background:url(../images/carbon-fiber-red-279877.jpg);
  letter-spacing:2px;
  line-height:175%;
  font-weight:500;
}


h4
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #1293EE;}

#main
{
margin:0px auto 40px auto;
}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: #A80000;
  height: 240px;}

#logo
{ width: 825px;
  position: relative;
  height: 168px;
  background: #A80000 url(../images/logo.png) no-repeat;}

#logo #logo_text 
{ position: absolute; 
  top: 20px;
  left: 0;}

#logo h1, #logo h2
{
font-family:"Comic Sans MS";
font-size:28px;
font-weight:bold;
letter-spacing:2px;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;
  }

#logo_text h1 a .logo_colour
{ color: #FAF700;}

#logo_text h2
{ font-size: 100%;
  padding: 14px 0 0 0;
  color: #DDD;
  font-family:"Courier New", Courier, monospace;
  font-weight:600;
  }

#menubar
{ width: 900px;
  height: 72px;
  padding: 0;
  background: #5A2C24 url(../images/menu.png) repeat-x;} 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{
letter-spacing: 2px;
  font: normal 100% "Courier New", Courier, monospace;
  font-weight:600;
  display: block; 
  float: left; 
  height: 37px;
  padding: 29px 45px 6px 45px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: transparent;} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: #451C1B url(../images/menu_select.png) repeat-x;}

#site_content
{ width: 837px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #FFF url(../images/content.png) repeat-y;} 



#footer
{ width: 900px;
  font: normal 100% "Courier New", Courier, monospace;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #29425E url(../images/footer.png) repeat-x;
  color: #FFF;
  letter-spacing: 0.1em;
  font-weight:600;
  }

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: underline;}


h3
{
margin: 0.5em 0 0.5em 0;
	font-weight: 600;
	font-family:"Courier New", Courier, monospace;
	position: relative;  
	font-size: 20px;
	padding:5px 30px;
	color:#990000;
	box-shadow: 
		inset 0 0 0 1px rgba(53,86,129, 0.4), 
		inset 0 0 5px rgba(53,86,129, 0.5),
		inset -285px 0 35px white;
	border-radius: 0 40px 0 40px;
	}
	
	
	ul
	{
	margin:0px 10px;
	}
	
	ul li
	{
	list-style-image:url(../images/blooddrop.png)
	}
	
	
	

.note
{
color:#666666;
font-family:"Courier New";
font-size:15px;
letter-spacing:2px;
}

.menubutton
{
color:#FFFF99;
text-decoration:none;
font-family:"Comic Sans MS";
font-size:18px;
letter-spacing:2px;
font-weight:bold;
}